

#container {
  margin: auto;
  text-align: center;
  width: 60%;
  border: 10px solid #b3d1ff;
  padding: 15px;
  box-sizing: border-box;
}

body {
  background-color: #585858;
}
h1 {
  color: white;
  text-align: center;
}
button {
  border: none;
  padding: 15px 32px;
  margin: 25px 15px 50px 15px;
  text-align: center;
}

button:hover{
  background-color: #b3d1ff;
}

.score {
  background-color: #b3d1ff;
  border: none;
  color: white;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

#box {
  margin: auto;
  width: 300px;
  height: 300px;
}

img {
  width: 60px;
  height: 60px;
}

div {
  color: white;
  font-weight: bold;
}
